// ----- public -----

// ----- Quiz  -----
.Quiz_border{
    text-align: center;
    width: 800px;
    padding:20px;
    background-color: var(--color-list-background);
    border-radius: 16px;
    position: relative;
}
.home_button{
    position: absolute;
    top:0px;
    left:-50px;
    cursor: pointer;
}
// ----- Choice  -----
.choice_border {
    margin-top:30px;
    width: 840px;

    li {
    margin: 10px;
    padding:25px;
    text-align: center;
    display: block;
    list-style: none;
    height: 30px;
    background-color: var(--color-list-background);
    border-radius: 16px;
    cursor: pointer;
    &:hover{
        background-color: var(--color-text);
    }
    }
    
}