.mainpage_container{
  width:100vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
  .h1 {
    display: block;
    font-size: 5em;
    margin:0px;
  }
}

.polaroid_list{ 
  width:1200px;
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  grid-gap:20px;

  .polaroid_outer {
      min-height:450px;
      background: #fff;
      padding: 1rem;
      box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    img {
      min-height: 350px;
      max-width: 100%;
      position: relative;
      cursor: pointer;
    }
    
    .polaroid_inner {
      min-height: 430px;
      background: #fff;
      padding: 1rem;
      box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    }
  }

  .polaroid_caption {
    font-size: 2rem;
    text-align: center;
    line-height: 2em;
  }
}

@media screen and (max-width: 1090px){
    .polaroid_list{
        grid-template-columns: 1fr;
        width:100%;
    }
}


.polaroid_outer:nth-of-type(odd) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}

.polaroid_outer:nth-of-type(even) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}

.polaroid_outer:nth-of-type(odd) .polaroid_inner:before {
  transform: rotate(6deg);
}
.polaroid_outer:nth-of-type(even) .polaroid_inner:before {
  transform: rotate(-6deg);
}

.polaroid_outer:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}